@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, Helvetica, Avenir, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
